
/* 主页界面盒子 */
/* 主页界面完全展开t=6s */
.box{
  /* 100vw=一个视口宽度 */
  /* width: 100vw; */
  /* 100vh=一个视口高度 */
  /* height: 100vh; */

  background-color: #EFF0F3;
  position: fixed;
  overflow-y:scroll;
  border-radius: 16px;
  height: 56px;
  opacity: 0;
  animation: unfold 1.4s 4.7s forwards;
  z-index: -5;
  overflow-x: hidden;
  /* 以下四行代码解决动画卡顿问题 */
  width: 0;
  height: 56px;
  left: 7vw;
  top: 3vh;
}


/* 音乐图标 */
.music{
  font-size: 50px !important;
  position: absolute;
  right: 7%;
  top: 3.5%;
}

/* 音乐信息 */
.musicMsg{
  position: absolute;
  right: 22%;
  top: 5%;
  opacity: 0;
  font-size: 20px;
  line-height: 20px;
  animation: fadeIn 1.5s 6s forwards;
}

/* 欢迎语 */
.hey{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  opacity: 0;
  animation: apear 2.3s .5s forwards;
}

/* app图标 */
.icon{
  width: 56px;
  height: 56px;
  border-radius: 16px;
  background-color: #FF6A00;
  opacity: 0;
  position: absolute;
  animation: icon forwards 1.9s 2.8s;
  z-index: 2;
}

/* app名 */
.appName{
  transform: translate(62px,-10px);
}

/* 功能按钮1 */
.btn1{
  width: 40vw;
  height: 40vw;
  background-color: #0F9BFF;
  outline: none;
  border: 0;
  border-radius: 10px;
  border-top-right-radius: 50px;
  position: absolute;
  top: 20vh;
  left: 5vw;
  opacity: 0;
  animation: fadeIn 1.2s 5.8s forwards;
}
/* 功能按钮2 */
.btn2{
  width: 40vw;
  height: 15vw;
  background-color: #D483FF;
  outline: none;
  border: 0;
  border-radius: 18px;
  position: absolute;
  top: 20vh;
  right: 5vw;
  opacity: 0;
  animation: fadeIn 1.2s 5.8s forwards;
}
/* 功能按钮3 */
.btn3{
  width: 40vw;
  height: 15vw;
  background-color: #FF5172;
  outline: none;
  border: 0;
  border-radius: 18px;
  position: absolute;
  top: calc(20vh + 25vw);
  right: 5vw;
  opacity: 0;
  animation: fadeIn 1.2s 5.8s forwards;
}

/* 图文 */
.image-text{
  position: absolute;
  top: 50vh;
  width: 90vw;
  left: 5vw;
  opacity: 0;
  animation: fadeIn 1.2s 6s forwards;
}

/* 图文1 */
.i1{
  width: 66vw;
  height: 40.8vw;
  overflow: hidden;
  border-radius: 5vw;
  border-bottom-right-radius: 9vw;
  position: relative;
  left: 2vw;
}
.i1:hover .img1{
  transform: scale(1.2);
}
.i1 img{
  width: 66vw;
  height: 40.8vw;
  /* 明信片比例 */
  transition: 1s;
}
.i1 .mask{
  position: relative;
  top: -15vw;
}
.i1 h3{
  position: relative;
  top: -26vw;
  left: 5vw;
  color: white;
}
.it1 p{
  text-align: right;
  position: relative;
  left: -12vw;
  
}


/* 图文2 */
.it2{
  position: relative;
  top: 5vw;
}
.i2{
  width: 66vw;
  height: 40.8vw;
  overflow: hidden;
  border-radius: 5vw;
  border-bottom-left-radius: 9vw;
  position: relative;
  left: 22vw;
  top: 5vw;
}
.i2:hover .img2{
  transform: scale(1.2);
}
.i2 img{
  width: 66vw;
  height: 40.8vw;
  /* 明信片比例 */
  transition: 1s;
}
.i2 .mask{
  position: relative;
  top: -15vw;
}
.i2 h3{
  position: relative;
  top: -26vw;
  left: 38vw;
  color: white;
}
.it2 p{
  position: relative;
  left: 7vw;
  top: 3vw;
}

/* 图文3 */
.it3{
  position: relative;
  top: 13vw;
}
.i3{
  width: 66vw;
  height: 40.8vw;
  overflow: hidden;
  border-radius: 5vw;
  border-bottom-right-radius: 9vw;
  position: relative;
  left: 2vw;
  top: 5vw;
}
.i3:hover .img3{
  transform: scale(1.2);
}
.i3 img{
  width: 66vw;
  height: 40.8vw;
  /* 明信片比例 */
  transition: 1s;
}
.i3 .mask{
  position: relative;
  top: -15vw;
}
.i3 h3{
  position: relative;
  top: -26vw;
  left: 5vw;
  color: white;
}
.it3 p{
  text-align: right;
  position: relative;
  top: 3vw;
  left: -12vw;
}



/* 透黑蒙版 */
.mask{
  width: 66vw;
  height: 15vw ;
  background-image: linear-gradient(to top,black,rgba(0,0,0,0));
}



/* 开发团队 */
.team{
  position: relative;
  top: 165vh;
  text-align: center;
  color: gray;
}




/* 关键帧动画 */
/* 需性能优化，手机上会卡顿 */
/* 卡顿解决，疑似opacity相同，将0%的opacity调为0.01即可强制开始动画 */

/* 欢迎语淡入淡出 */
@keyframes apear {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}

/* app图标进场 */
@keyframes icon {
  0% {
    opacity: 0.7;
    left: 40vw;
    top: 100vh;
    transform: perspective(800px) translateY(600px) translateZ(-500px);
  }
  50%{
    opacity: 1;
    left: 40vw;
    top: 40vh;
    transform: perspective(800px) translateZ(200px);
  }
  100%{
    opacity: 1;
    left: 7vw;
    top: 3vh;
    transform: perspective(800px) translateZ(0);
  }
}

/* 主页ui展开 */
@keyframes unfold {
  0%{
    width: 0;
    height: 56px;
    left: 7vw;
    top: 3vh;
    opacity: 0;
  }
  65%{
    width: 100vw;
    height: 56px;
    left: 0;
    top: 3vh;
    opacity: .9;
  }
  100%{
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 1;
  }

}

/* 淡入 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
